<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Wird geladen...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">Produkt suchen</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Wonach suchen Sie?">
  </div>

  <div *ngIf="filterText.length>2" class="alert alert-success">
   Sie haben nach {{filterText}} gesucht.
  </div>

<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produktname</th>
            <th>Kategorie</th>
            <th>Preis</th>
            <th>Preis inkl. MwSt.</th>
            <th>Lagerbestand</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filterPipe:filterText">
            <td>{{product.productId}}</td>
            <td>{{product.productName |uppercase}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.unitPrice | currency}}</td>  
            <td>{{product.unitPrice | vatAdded:18 |currency}}</td>
            <td>{{product.unitsInStock}}</td>
            <th><button (click)="addToCart(product)" type="button" class="btn btn-success">In den Warenkorb</button></th>     
        </tr>
    </tbody>
    
</table>